.header{
    text-align: center;
}

.logo{
    height : 50px; 
}
.header nav {
    background-color: black;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: blanchedalmond;
    margin-left: 20px;
    padding: 10px;
    transition: 0.3s;
    font-weight: 600;
}
.header nav a:hover{
    background-color: wheat;
    color: black;
    padding: 10px;
} 